* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Recoleta";
}

body {
  background-image: url("../assets/hero-bg_mob.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: Recoleta;
  src: url(font/RecoletaRegular.otf);
  font-weight: 400, 700;
}
@font-face {
  font-family: RecoletaSemiBold;
  src: url(font/RecoletaSemiBold.otf);
  font-weight: 600;
}
@font-face {
  font-family: RecoletaBold;
  src: url(font/RecoletaSemiBold.otf);
  font-weight: 700;
}
#hero {
  padding-top: 97px;
  padding-bottom: 97px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#hero__btn {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 120px;
  border-radius: 100px;
  border: none;
  border: 3px solid #000;
  background-color: #D8FFB0;
}

#selectLevel {
  display: none;
}

.selectLevel {
  display: none;
  width: 100vw;
  height: 100vh;
  display: grid;
  /* flex-direction: column; */
}
.selectLevel__logo {
  height: 20vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.selectLevel__article {
  height: 80vh;
  background-image: linear-gradient(180deg, rgb(4, 251, 236), #226A6F);
  border-radius: 50px 50px 0 0;
  padding: 37px 26px 22px 26px;
  text-align: center;
  align-items: center;
  font-size: 24px;
}
.selectLevel__div {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #2FD7CF;
  /*  margin-bottom: 20px; */
  border-radius: 46px;
  display: flex;
}
.selectLevel__div input[type=text] {
  padding-left: 20px;
  width: 280px;
  font-size: 20px;
  border-radius: 46px;
  border: none;
}
.selectLevel__div input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #A0FFF9 inset;
}
.selectLevel__div ::placeholder {
  color: #000;
  opacity: 0.42;
  font-size: 16px;
  font-weight: 600;
}
.selectLevel__div input[type=radio] {
  visibility: hidden;
}
.selectLevel__div label {
  font-weight: 600;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}
.selectLevel input[id=level__submit] {
  background-color: transparent;
  font-size: 32px;
  font-weight: 600;
  width: 100%;
  height: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  border: none;
}
.selectLevel label[id=level__title] {
  display: flex;
  text-align: start;
  padding-left: 17px;
  /* margin-bottom: 20px; */
  opacity: 0.5;
}
.selectLevel__div:last-of-type {
  background-color: #FFFFFF;
  border: 1px solid #000;
  padding: 0;
  transform: rotate(3.259deg);
  margin-bottom: 20px;
}
.selectLevel__div:first-of-type {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 0;
}
.selectLevel__decoration {
  transform: rotate(3.259deg);
  display: flex;
  justify-content: space-between;
}

#form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(180deg, rgb(253, 248, 220), #226A6F);
}
#main header {
  /* grid-row: 1 / 6; */
  grid-row-start: 1;
  grid-row-end: 4;
  align-self: flex-end;
}

#mainTable {
  grid-row-start: 5;
  grid-row-end: 11;
  align-items: center;
  justify-content: center;
  margin: 0 14px;
  display: flex;
  flex-direction: column;
  margin: 0 14px 0 14px;
  align-items: center;
}
#mainTable img {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
}
#mainTable tr {
  display: flex;
  align-items: center;
  object-fit: cover;
}

#nav {
  display: flex;
  margin: 0 14px 0 14px;
  justify-content: space-between;
}
#nav__user, #nav__moves, #nav__timer {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 23px;
  background-color: #F9EFBD;
  border: 1px solid #000;
  border-radius: 46px;
}

header img {
  margin: 0 0 26px 33px;
}

footer {
  grid-row-start: 11;
  grid-row-end: 13;
  align-items: center;
  align-self: center;
  display: flex;
  /* grid-auto-flow: column; */
  justify-content: space-between;
  margin: 0 14px;
  /* margin: 0 14px 59px 14px; */
}
footer button {
  font-size: 20px;
  font-weight: bold;
  padding: 22px 29px;
  border-radius: 46px;
  border: 2px solid #000;
  background-image: linear-gradient(180deg, rgb(4, 251, 236), #226A6F);
}

.rank {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.rank__logo {
  height: 20vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.rank__article {
  height: 80vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgb(4, 251, 236), #226A6F);
  border-radius: 50px 50px 0 0;
  padding: 34px 26px 34px 26px;
  text-align: center;
  align-items: center;
  font-size: 32px;
  justify-content: space-between;
}
.rank__article__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.rank__article__header__title {
  display: flex;
  font-size: 40px;
  font-weight: 600;
  align-items: center;
}
.rank__article__header__title p {
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.rank__article__header__title img {
  width: 25px;
  height: 25px;
}
.rank__article__tableContainer {
  width: 100%;
  background-color: #A0FFF9;
  padding: 38px 50px;
  border-radius: 50px;
}
.rank__article__table {
  font-size: 16px;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
.rank__article__table tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #84D6CF;
}
.rank__article__table tr:first-of-type {
  padding-bottom: 24px;
  border-bottom: none;
  font-size: 16px;
}
.rank__article__table tr:first-of-type td {
  padding: 0;
}
.rank__article__table td {
  padding-top: 15px;
  font-weight: 600;
}
.rank__article__table td:first-child {
  padding-left: 18px;
}
.rank__article__div:last-of-type {
  background-color: rgb(142, 31, 31);
  border: 1px solid #000;
  transform: rotate(3.259deg);
}
.rank__article__levels {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.rank__article button {
  padding: 10px;
  background-color: #55EEE6;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
}
.rank__decoration {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.rank__last-div {
  width: 100%;
  transform: rotate(3.259deg);
}
.rank__play-again {
  background-color: #FFFFFF;
  border: 1px solid #000;
  border-radius: 46px;
}

#play-again {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

input[id=play-again__btn] {
  background-color: transparent;
  font-size: 32px;
  font-weight: 600;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  height: 100%;
}

.closeSelectSection {
  height: 100%;
}

@media only screen and (min-width: 690px) {
  #hero {
    justify-content: space-around;
  }
  #hero img {
    width: 500px;
  }
  .rank {
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .rank .selectLevel__logo {
    height: 20vh;
  }
  .rank__article {
    width: 710px;
    height: 80vh;
    margin: auto;
    padding: 30px 160px 30px 160px;
    font-size: 32px;
  }
  .selectLevel {
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .selectLevel__article {
    width: 710px;
    height: 70vh;
    margin: auto;
    /*  padding: 55px 66px 120px 66px; */
  }
  .selectLevel__article div, .selectLevel__article label {
    /*  width: 350px; */
    align-self: center;
  }
  .selectLevel__logo {
    height: 30vh;
  }
  .selectLevel #form {
    /*  height: 100%; */
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    /* flex-direction: row; */
    /*  justify-content: space-between; */
  }
  .selectLevel #form #level__title {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .selectLevel #form .userName {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .selectLevel #form .easy {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .selectLevel #form .medium {
    grid-row-start: 4;
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .selectLevel #form .hard {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .selectLevel #form .expert {
    grid-row-start: 6;
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .selectLevel #form .selectBtn {
    grid-row-start: 10;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  #main {
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
  }
  #main header {
    display: flex;
    align-items: end;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 12;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
  }
  #main header img {
    margin: 0;
  }
  #main header nav {
    flex-direction: row;
    margin: 0;
  }
  #main header nav p:not(:last-child) {
    margin-right: 20px;
  }
  #mainTable {
    grid-row-start: 2;
    grid-row-end: 12;
    grid-column-start: 2;
    grid-column-end: 12;
    margin: 0;
  }
  footer {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 10;
    grid-row-end: 12;
    align-self: flex-end;
    margin: 0;
  }
}
@media only screen and (min-width: 800px) {
  #main header {
    grid-column-start: 2;
    grid-column-end: 12;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
  }
  #main header img {
    margin: 0;
  }
  #main header nav {
    flex-direction: row;
    margin: 0;
  }
  #main header nav p:not(:last-child) {
    margin-right: 20px;
  }
  #mainTable {
    grid-column-start: 3;
    grid-column-end: 11;
    margin: 0;
  }
  footer {
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 11;
    grid-row-end: 13;
    align-self: center;
    /*  margin: 0; */
  }
}
@media only screen and (min-width: 1000px) and (orientation: landscape) {
  #main header {
    flex-direction: column;
    grid-row-start: 2;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: flex-start;
    align-items: start;
    padding-left: 30px;
  }
  #main header img {
    padding-bottom: 20px;
  }
  #main header nav {
    flex-direction: column;
    margin: 0;
  }
  #main header nav p:not(:last-child) {
    margin: 0;
    margin-bottom: 20px;
  }
  #mainTable {
    grid-column-start: 4;
    grid-column-end: 12;
    margin: 0;
    margin-left: 50px;
  }
  footer {
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 30px;
  }
  footer #back {
    display: flex;
  }
}
@media only screen and (min-width: 1200px) {
  #main {
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
  }
  #main header {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: flex-start;
  }
  #main header nav {
    flex-direction: column;
  }
  #mainTable {
    grid-row-start: 2;
    grid-row-end: 12;
    grid-column-start: 5;
    grid-column-end: 11;
    /*    grid-column-start: 5;
       grid-column-end: 12; */
    /*  height: 90vh; */
    align-self: center;
    /*  align-self: center; */
    align-items: center;
  }
  footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 12;
    align-self: flex-end;
  }
  footer #back {
    display: flex;
  }
}
@media only screen and (min-width: 1600px) {
  #hero {
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .rank {
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .rank__article {
    width: 710px;
    /*   height: 80vh; */
    margin: auto;
    padding: 60px 130px 60px 130px;
  }
  #main {
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
  }
  #main header {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: flex-start;
  }
  #main header nav {
    flex-direction: column;
  }
  #mainTable {
    grid-row-start: 2;
    grid-row-end: 12;
    grid-column-start: 5;
    grid-column-end: 11;
    padding: 30px;
    align-self: center;
    align-items: center;
  }
  footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 12;
    align-self: flex-end;
  }
  footer #back {
    display: flex;
  }
}

/*# sourceMappingURL=main.css.map */
