$black: #000;
$white: #FFFFFF;
$heroBtnColor: #D8FFB0;
$mainSectionBgColor1: rgba(253,248,220,1);
$mainSectionBgColor2: #226A6F;
$mainNavBg: #F9EFBD;
$lenear-gradientColor-1: rgba(4,251,236,1);
$lenear-gradientColor-2: #226A6F;
$selectLevelBtnBackground: #2FD7CF;
$selectLevelBtnBackgroundSelected: #B5FFEF;
$top5TableContainerBackgroundColor: #A0FFF9;
$top5TrBorderColor: #84D6CF;
$top5LevelsBtnBackground: #55EEE6;
